spring:
  application:
    name: study-service
  profiles:
    active: local   # 기본은 local로
  jackson:
    time-zone: Asia/Seoul
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug           # 개발 편의
    org.hibernate.orm.jdbc.bind: trace # 바인딩 파라미터 보기(원하면)